name: Upload to S3

on: 
  workflow_dispatch:
  push:
    paths:
      - 'frontend/**'
      - '.github/workflows/action-topic1.yaml'

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Upload to S3
        run: |
          aws s3 sync ./frontend s3://s3bucket-${{ github.event.repository.name }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: 'us-east-1'